.title {
  font-family: "Bebas Neue", cursive;
  text-align: left;
  margin-bottom: 50px;
}
.title::after {
  content: "";
  width: 100px;
  height: 6px;
  background-color: #1890ff;
  display: block;
}
.alert-error {
  padding-top: 1rem;
}
.label-one {
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  display: block;
}
.label-two {
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  margin-top: 1rem;
  display: block;
}
@media (min-width: 992px) {
  .coin-container {
    height: 100vh;
  }
  .title {
    margin-top: 80px;
  }
}

.error {
  background-color: #b7322c;
  padding: 1rem;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.resultado {
  color: white;
}
.resultado h2 {
  font-weight: bold;
  color: white;
}
.resultado p {
  font-size: 18px !important;
}
.resultado p span {
  font-weight: bold;
}
p.precio {
  font-size: 30px !important;
}
